@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');


.links{
    height: 4vh;
    margin: 0.4rem;
}
.nav_{
    width: 100%;
    position: fixed;
    /* background-attachment: fixed; */
    background-color: rgb(255, 0, 0); 
}

.title{
    font-family: 'Righteous', cursive;
}

