@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.spinner{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cb{
    margin-left: 20%
}
.tablero{
    padding-top: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 6rem;
}
.text{
    font-family: 'Nunito', sans-serif;   
}